<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de envio de correo</title>
</head>
<body>
<form method="post">{% csrf_token %}
    {{ el_contacto.as_p }}
    <input type="submit" value="enviar">
</form>

</form>
</form>
</body>
</html>