<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de ingreso de fichas</title>
</head>
<body>
<form method="post">{% csrf_token %}
    {{ el_titulo.as_p }}
    {{ el_formulario.as_p }}
    <input type="submit" value="Guardar">
</form>
</body>
</html>